body {
    margin: 0;
    overflow: hidden;
    background: #1e1e1e;
    font-family: 'Press Start 2P', monospace;
    color: white;
    touch-action: none; /* чтобы телега не “тянула” экран */
}

#menu, #resultScreen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(0,0,0,0.6);
    z-index: 10;
}

.hidden {
    display: none;
}

button {
    padding: 20px 40px;
    font-size: 16px;
    border: none;
    background: #444;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.title {
    font-size: 24px;
    text-shadow: 0 0 10px black;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
}
